body {
    /* (1-19)Sayfanın metinlerini yatayda ortalar, belirli bir yazı tipi (Arial veya sans-serif) kullanır, arka planı iki renk tonu arasında bir dairesel geçişle doldurur 
    ve sayfanın taşan içeriğini gizler. Bu kod sayfanın genel düzenini ve görünümünü tanımlar, böylece kullanıcılar için daha estetik ve kullanışlı bir deneyim sağlar.*/
    text-align: center;
    font-family: Arial, sans-serif;
    background: rgb(39, 38, 38);
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: auto;
}
form {
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background: rgb(39, 38, 38) ;
    border-radius: 5px;
    width: 325px;
}
.title{
    margin-top: 100px;
    color: rgb(12, 0, 0);
}
.form-group {
    margin-bottom: 15px;
}
form input { /*(37-63)Input alanlarına, genişlik, kenarlık, doldurma, köşe yuvarlama ve boşluk gibi özellikler kazandırır. 
    Form öğeleri arasına belirli bir boşluk ekler ve formun başlangıcına bir başlangıç boşluğu koyar. 
    Ayrıca, "Kayıt Ol" düğmesinin stilini belirler, düğme genişliğini, arka plan rengini, metin rengini, doldurma miktarını, kenarlığı ve köşe yuvarlamayı tanımlar. 
    Bu stil özellikleri, formun daha düzenli ve kullanıcı dostu görünmesini sağlar ve "Kayıt Ol" düğmesini vurgular.*/
    width: 275px;
    padding: 10px;
    border: 1px solid rgb(156, 106, 106)1d1;
    border-radius: 5px;
    margin-bottom: 15px;/* Input alanları arasındaki boşluğu ayarlar */
    margin-top: 15px;/* Input alanlarının başlangıcındaki boşluğu ayarlar */
}
form button {
    text-align: center;
    display: block;
    width: 100%;
    background: #fff;
    color: rgb(39, 38, 38);;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.close { /*pop-up kapanış*/
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}